page-add-events {

    ion-content{
        .input-title{
            font-weight: bold; 
            font-size: 1.8rem;
            color: var(--text) !important;
        }

        .input-error{
            font-weight: light; 
            font-size: 1.4rem;
            margin:0 !important;
        }

        ion-datetime{
            direction: ltr;
            text-align: right;
        }

        input{
            direction: ltr;
        }
        ion-textarea, ion-input:not(.no-border){
            direction: ltr;
            text-align: right;
            border: 1px solid var(--border);
            border-radius: 5px;
        }

        ion-col{
            border: 1px solid var(--border) !important;
            border-radius: 5px !important;    
            margin: 2.5px !important;                  
            /*ion-item {
                border: 1px solid var(--border) !important;
                border-radius: 5px !important;            
                ion-label{
                    color: var(--text) !important;
                }
            }*/
        }
    }
}
